@font-face {
  font-family: "VisbyCF-Medium";
  src: url('static/fonts/visbycf-medium.otf');
}

@font-face {
  font-family: 'VisbyCF-Light';
  src: url("static/fonts/visbycf-light.otf");
}

@font-face {
  font-family: 'VisbyCF';
  src: url("static/fonts/visbycf-regular.otf");
}

@font-face {
  font-family: 'VisbyCF-Bold';
  src: url("static/fonts/visbycf-bold.otf");
}

* {
  margin: 0;
  font-family: "Assistant", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  letter-spacing: 0.06rem;
  color: rgba(0, 0, 0, 0.75);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

//Top Bar
.top-bar {
  background-color: #fafafa;

  p {
    text-align: center;
    padding: 10px 0;
    color: #CF0C1D
  }
}

//Footer

footer {
  background-color: #fafafa;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-top {
  width: 60%;
  margin: 0 auto;
  @media (max-width: 750px) {
    width: 75%;
  }
  @media (max-width: 500px) {
    width: 90%;
  }
}

.footer-title {
  font-size: 16px;
  font-weight: bold;
  font-family: "VisbyCF-Medium";
  text-transform: uppercase;
}

.footer-menu {
  list-style: none;
  padding: 0;

  a {
    font-family: VisbyCF, sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
  }
}

.payment-methods-head {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 7px;
}

.list-payment-item {
  margin: 0 3px;
}

.footer-social {

  margin: 10px 0;

  .social-list {
    display: flex;
    justify-content: center;
    align-items: center;

    .list-social-item {
      margin: 0 10px;

      a {
        color: inherit;
      }

      i {
        font-size: 30px;
      }

      .social-facebook {
        color: #548bce;
      }

      .social-instagram {
        color: #c720c7;
      }

      .social-youtube {
        color: red;
      }

    }

  }
}

//End Footer

//Home Slider

.home-slider {
  width: 100%;

  .home-slide {
    width: 100%;
    overflow: hidden;

    //set a default aspect ratio
    aspect-ratio: 16/5;

    img {
      width: 100%
    }
  }
}

//swiper button

.custom-swiper {
  .swiper-button-next, .swiper-button-prev {
    background-color: #dbdbdb;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    &:after {
      font-size: 20px;
      color: #000;
    }
  }
}

.horizontal-bar {
  height: 4px;
  background-color: #E7DFD6;
  margin: 0 auto;
}

//Featured Categories
.featured-categories {
  .section-title {
    text-align: center;
    font-size: 24px;
    font-family: VisbyCF-Medium;
    padding: 20px 0;
    font-weight: 600;
  }

  .category-item {
    .category-image-container {
      overflow: hidden;
      width: 100%;
      aspect-ratio: 1;
      padding: 10px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .category-title {
      text-align: center;
      padding: 10px 0;
      font-size: 20px;
      font-weight: 300;
      font-family: VisbyCF-Medium;
    }
  }
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-family: VisbyCF-Medium;
  padding-bottom: 20px;
  font-weight: 600;
}

//product card

.product-card {
  padding: 0 10px;
  margin-bottom: 10px;

  .product-media {
    width: 100%;
    position: relative;
    aspect-ratio: 3/4;
    overflow: hidden;

    img {
      width: 100%;
    }

    .discount {
      position: absolute;
      left: 10px;
      top: 10px;
      background: #d31919;
      color: #fff;
      border-color: #d31919;
      text-transform: uppercase;
      padding: 5px;
      font-weight: bold;
      border-radius: 3px;
      margin-left: -5px;
    }

    .quick-view-btn {
      visibility: hidden;
      position: absolute;
      bottom: 10%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        display: block;
        width: 80%;
        height: 35px;
        border: none;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 0;
        text-align: center;
        padding: 7px 0;
        cursor: pointer;
        font-family: 'VisbyCF-Medium';
        letter-spacing: 0.1rem;
      }

    }
  }

  .product-card-bottom {
    padding: 2px 10px;

    .product-title {
      font-size: 12px;
      font-family: VisbyCF-Bold;
      font-weight: 400;
    }

    .price-box {
      .old-price {
        text-decoration: line-through;
      }

      .new-price {
        color: #000;
        font-weight: bold;
      }
    }
  }

  &:hover {
    .product-media .quick-view-btn {
      visibility: visible;
    }
  }
}

.dark-btn {
  border: none;
  background-color: #000;
  min-width: 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'VisbyCF-Medium';
  letter-spacing: 0.1rem;
}

.product-view {
  .product-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .price-box {
    .new-price {
      font-size: 16px;
      font-family: VisbyCF-Bold;
      color: rgba(0, 0, 0, 0.75);
    }

    .old-price {
      text-decoration: line-through;
      font-family: VisbyCF-Bold;
      font-size: 13px;
      font-weight: 300;
    }
  }

  .add-to-cart-btn {
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0006;
    background-color: #1d1d1d;
    text-transform: uppercase;
    padding: 8px 0;
    color: white;
    font-family: VisbyCF-Bold;
    width: 100%;
  }
}

.variation-container {
  .variation-list {
    margin-bottom: 10px;

    .variation-values {
      display: flex;

      .variant {
        min-width: 33px;
        font-size: 14px;
        border-radius: 9px;
        font-family: VisbyCF-Bold;
        border: 1px solid #000;
        padding: 5px 10px;
        margin-right: 5px;
        font-weight: 600;

        &.active {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}

.variation-title {
  font-size: 14px;
  font-family: VisbyCF-Bold;
  margin-bottom: 5px;;
}

.description-head {
  font-size: 20px;
  font-family: VisbyCF-Bold;
  border-bottom: 1px solid #000;
  width: fit-content;
}

.font-visby-bold {
  font-family: VisbyCF-Bold;
}
