@font-face {
  font-family: "VisbyCF-Medium";
  src: url('static/fonts/visbycf-medium.otf');
}

@font-face {
  font-family: 'VisbyCF-Light';
  src: url("static/fonts/visbycf-light.otf");
}

@font-face {
  font-family: 'VisbyCF';
  src: url("static/fonts/visbycf-regular.otf");
}

@font-face {
  font-family: 'VisbyCF-Bold';
  src: url("static/fonts/visbycf-bold.otf");
}

* {
  margin: 0;
  font-family: "Assistant", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  letter-spacing: 0.06rem;
  color: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: unset;
  }
}

p {
  margin: 0;
}

//font size

.text-12{
  font-size: 12px;
}

.text-13{
  font-size: 13px;
}

.text-14{
  font-size: 14px;
}

.text-15{
  font-size: 15px;
}

.text-16{
  font-size: 16px;
}

.text-18{
  font-size: 18px;
}

.text-20{
  font-size: 20px;
}



//Top Bar
.top-bar {
  background-color: #fafafa;

  p {
    text-align: center;
    padding: 10px 0;
    color: #CF0C1D
  }
}

//Footer

footer {
  background-color: #fafafa;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-top {
  width: 60%;
  margin: 0 auto;
  @media (max-width: 750px) {
    width: 75%;
  }
  @media (max-width: 500px) {
    width: 90%;
  }
}

.footer-title {
  font-size: 16px;
  font-weight: bold;
  font-family: "VisbyCF-Medium";
  text-transform: uppercase;
}

.footer-menu {
  list-style: none;
  padding: 0;

  a {
    font-family: VisbyCF, sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
  }
}

.payment-methods-head {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 7px;
}

.list-payment-item {
  margin: 0 3px;
}

.footer-social {

  margin: 10px 0;

  .social-list {
    display: flex;
    justify-content: center;
    align-items: center;

    .list-social-item {
      margin: 0 10px;

      a {
        color: inherit;
      }

      i {
        font-size: 30px;
      }

      .social-facebook {
        color: #548bce;
      }

      .social-instagram {
        color: #c720c7;
      }

      .social-youtube {
        color: red;
      }

    }

  }
}

//End Footer

//Home Slider

.home-slider {
  width: 100%;

  .home-slide {
    width: 100%;
    overflow: hidden;
    object-fit: cover;

    //set a default aspect ratio
    aspect-ratio: 16/5;

    img {
      width: 100%
    }
  }
}

//swiper button

.custom-swiper {
  .swiper-button-next, .swiper-button-prev {
    background-color: #dbdbdb;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    &:after {
      font-size: 20px;
      color: #000;
    }
  }
}

.horizontal-bar {
  height: 4px;
  background-color: #E7DFD6;
  margin: 0 auto;
}

//Featured Categories
.featured-categories {
  .section-title {
    text-align: center;
    font-size: 24px;
    font-family: VisbyCF-Medium;
    padding: 20px 0;
    font-weight: 600;
  }

  .category-item {
    .category-image-container {
      overflow: hidden;
      width: 100%;
      aspect-ratio: 1;
      padding: 10px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .category-title {
      text-align: center;
      padding: 10px 0;
      font-size: 20px;
      font-weight: 300;
      font-family: VisbyCF-Medium;
    }
  }
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-family: VisbyCF-Medium;
  padding-bottom: 20px;
  font-weight: 600;
}

//product card

.product-card {
  padding: 0 10px;
  margin-bottom: 10px;

  .product-media {
    width: 100%;
    position: relative;
    aspect-ratio: 3/4;
    overflow: hidden;

    img {
      width: 100%;
    }

    .discount {
      position: absolute;
      left: 10px;
      top: 10px;
      background: #d31919;
      color: #fff;
      border-color: #d31919;
      text-transform: uppercase;
      padding: 5px;
      font-weight: bold;
      border-radius: 3px;
      margin-left: -5px;
    }

    .quick-view-btn {
      visibility: hidden;
      position: absolute;
      bottom: 10%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        display: block;
        width: 80%;
        height: 35px;
        border: none;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 0;
        text-align: center;
        padding: 7px 0;
        cursor: pointer;
        font-family: 'VisbyCF-Medium';
        letter-spacing: 0.1rem;
      }

    }
  }

  .product-card-bottom {
    padding: 2px 10px;

    .product-title {
      font-size: 12px;
      font-family: VisbyCF-Bold;
      font-weight: 400;
    }

    .price-box {
      .old-price {
        text-decoration: line-through;
      }

      .new-price {
        color: #000;
        font-weight: bold;
      }
    }
  }

  &:hover {
    .product-media .quick-view-btn {
      visibility: visible;
    }
  }
}

.dark-btn {
  border: none;
  background-color: #000;
  min-width: 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'VisbyCF-Medium';
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: #202020;
    text-decoration: none;
    color: white;
  }
}

.product-view {
  .product-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .price-box {
    .new-price {
      font-size: 16px;
      font-family: VisbyCF-Bold;
      color: rgba(0, 0, 0, 0.75);
    }

    .old-price {
      text-decoration: line-through;
      font-family: VisbyCF-Bold;
      font-size: 13px;
      font-weight: 300;
    }
  }

  .add-to-cart-btn {
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0006;
    background-color: #1d1d1d;
    text-transform: uppercase;
    padding: 8px 0;
    color: white;
    font-family: VisbyCF-Bold;
    width: 100%;
  }
}

.variation-container {
  .variation-list {
    margin-bottom: 10px;

    .variation-values {
      display: flex;

      .variant {
        min-width: 33px;
        font-size: 14px;
        border-radius: 9px;
        font-family: VisbyCF-Bold;
        border: 1px solid #000;
        padding: 5px 10px;
        margin-right: 5px;
        font-weight: 600;

        &.active {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}

.variation-title {
  font-size: 14px;
  font-family: VisbyCF-Bold;
  margin-bottom: 5px;;
}

.description-head {
  font-size: 20px;
  font-family: VisbyCF-Bold;
  border-bottom: 1px solid #000;
  width: fit-content;
}

.font-visby-bold {
  font-family: VisbyCF-Bold;
}

//form
.custom-select {
  width: 100%;
  height: 35px;

  option {
    font-size: 14px;
    height: 50px;
  }

}

//chip

.filter-chip {
  border: 1px solid #ccc;
  padding: 5px 15px;
  border-radius: 15px;
  margin-right: 2px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  .close-icon {
    margin-left: 6px;
  }

  &:hover {
    border: 1px solid #333;
  }
}

.icon-whatsapp {
  color: teal;
}

.icon-phone {

}

.nav-icon {
  font-size: 24px;
}

.cart-container {
  .b-sidebar {
    width: 400px;
  }
}

.cart {
  padding: 0 5px;

  .cart-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 10px 5px;
    margin-bottom: 5px;
    font-weight: bold;

    .cart-close-btn{
      background-color: transparent;
      border: 1px solid #999;
      transition: 0.3s ease-in-out;

      &:hover{
        background-color: #333333;
        color: #fff;
      }

    }

  }

  .cart-body {
    height: 70vh;
    overflow-y: auto;
  }

  .cart-empty {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;

    i {
      font-size: 40px;
      color: #7ebce0;
    }

    .text {
      font-weight: bold;
      font-size: 16px;
      padding: 10px 0;
    }
  }

  .cart-bottom {
    .cart-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 5px;
      font-weight: bold;
    }
  }

}

//cart


.cart-item {
  display: flex;
  padding: 20px 5px;
  width: 100%;
  //margin: 20px 0;

  &:not(:last-child) {
    border-bottom: 2px solid #ddd;
  }

  .product-image-container {
    width: 20%;
    min-width: 80px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .cart-info {
    width: 100%;
    padding: 0 10px;

    .product-info {
      display: flex;
      justify-content: space-between;
      min-height: 30px;

      .product-title {
        font-size: 14px;
        font-weight: bold;
      }
    }

    .cart-remove {
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: #4c4c4c;
      transition: 0.2s all ease-in-out;

      &:hover {
        color: #f84f4f;
      }
    }

  }

}

.price {
  font-size: 14px;
  font-weight: bold;
}

.skeleton {
  width: 100%;
  height: 100%;
  min-height: 25px;
  background: linear-gradient(120deg, #f3f3f3 25%, #e0e0e0 50%, #f3f3f3 75%);
  background-size: 200% 100%;
  animation: pulse 1.5s infinite;

  &.line {
    min-height: auto;
    height: 10px;
  }

}

.w-90{
  width: 100%;
}
.w-80{
  width: 80%;
}
.w-70{
  width: 70%;
}
.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}
.w-30{
  width: 30%;
}

@keyframes pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

//account breadcrumb

.account-breadcrumb{
  li{
    display: inline-block;
  }
}

//account


.account_item {
  a {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    display: block;
  }

  i {
    font-size: 18px;
    background: #dfdfdf;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    line-height: 50px;
  }

  p {
    font-weight: 600;
    margin-top: 5px;
  }

  margin: 5px 0;
}

.customer-profile {
  padding: 30px 0px;
}

.customer_bio {
  display: grid;
  grid-template-columns: 80px auto;
  grid-gap: 20px;
  align-items: center;
}

.customer_image {
  background: #fff;
  border-radius: 50px;
  overflow: hidden;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border: 1px solid #eee;

  img {
    width: 40px;
    height: 40px;
  }
}

.customer_info {
  h5 {
    font-size: 18px;
  }
}

.customer-profile.bg_white {
  background: #fff;
  padding: 20px 20px;
  margin: 15px 0;
  border-radius: 5px;
}

section.breadcrumb-custom {
  margin-top: 20px;
}
